.section__login {
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 106px - 55px);
  justify-content: center;

}
.section__login--Logged{
  justify-content: center;
  align-items: center;
}
.form--login {
  flex-direction: column;
}
.login__info {
  padding: 25px;
  min-width: 324px;
  width: 50%;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: white;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login__paragraph {
  text-align: center;
}
.login__form {
  min-width: 324px;
  min-height: 324px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 7%);
}

.login__btn {
  padding: 10px 30px;
  color: white;
  background-color: inherit;
  border: 2px solid white;
}


.form__btn{
  margin-top: 25px;
  color: var(--color-red-primary);
  padding: 10px 35px ;
  border: 2px solid var(--color-red-primary);
  transition: background-color 500ms ease;
}
.form__btn:hover{
  color: white;
  background-color: var(--color-red-primary);
}

