.cart-product {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid red;
}
.table{
  max-width: 740px;
  width: 100%;
}
.table__td {
  display: flex;
  align-items: center;
}
.table__figure {
  width: 111px;
  min-width: 111px;
  aspect-ratio: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.table__name {
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.table__name--quantity{
 color: var(--color-red-primary);
 font-size: 18px;
 cursor: pointer;

}
.table__span{
  color: var(--color-dark-primary);
  font-weight: 600;
  font-size: 18px;
}
.gray{
  color: var(--color-gray-primary);
}
.table__name-span{
  font-size: 15px;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.loader {
  width: 96px;
  height: 24px;
  display: inline-block;
  background-color: var(--color-red-primary);
  border: 1px solid var(--color-red-primary);
  border-radius: 4px;
  background: linear-gradient(45deg, transparent 49%, var(--color-red-primary) 50%, var(--color-red-primary) 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, var(--color-red-primary) 50%, var(--color-red-primary) 50%, transparent 51%, transparent);
  font-size: 15px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 0.6s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}