.footer{
  background-color: var(--color-dark-primary);
  padding: 15px 15px 18px 15px;
  border-top: 3px solid var(--color-red-primary);
  width: 100%;
  
}

.footer__text{
  color: white;
  text-align: center;
}