.header{
  background-color: #15161D;
  padding: 15px 15px 18px 15px;
  border-bottom: 3px solid #D10024;
}
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__figure{
  width: 169px;
  height: 70px;
}
.header__logo{
  width: 100%;
  height: auto;
}
.header__list{
  display: flex;
  gap: 20px;
}
.header__link-text{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.header__link-span{
  font-size: 12px;

}