.product{
  width: 100%;
  max-width: 280px;
  border: 1px solid var(--color-gray-secondary);
  cursor: pointer;
  transition: border-color 500ms ease;
}
.product:hover{
  border-width: 3px;
  border-color: var(--color-red-primary);
}
.product__header{
  width: 100%;
  aspect-ratio: 1.2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__category{
  text-transform: uppercase;
  text-align: center;
  grid-column: span 2;
  color: #8D99AE;
  font-size: 12px;
  font-weight: 400;

}
.product__img{
  width: 70%;
  height: 70%;
  object-fit: contain;
  position: absolute;
  transition: opacity 500ms ease;
}
.product__header:hover .product__img:nth-child(2){
  opacity: 1;
}
.product__header:hover .product__img:nth-child(1){
  opacity: 0;
}
.product__img:nth-child(2){
  opacity: 0;
}
.product__body{
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__name{
  font-size: 16px;
  font-weight: 700;
  grid-column: span 2;
  text-align: center;
}

.product__price-container{
  display: grid;
  gap: 3px;
}
.product__price-label{
  display: grid;
  font-size: 0.9rem;
  color:#aaa;
  margin-bottom: 10px;
}
.product__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price-number{
  font-weight: 700;
  transform: translateX(10px);
  color: var(--color-red-primary);
}
.product__price-number::before{
  content: "$";
  margin-right: 6px;
}

.product__btn{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-self: end;
  background-color: #f85555;
  border: none;
  color: white;
}
.product__btn i{
  font-size: 1.1rem;
}