
.filter__title-sort{
  position: relative;
  top: -8px;
}
.form {
  width: 347px;
  display: flex;
  gap: 15px;
  align-items: center;
  
}
.form__label {
  font-size: 14px;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__input {
  width: 100%;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid var(--color-dark-primary);
  font-size: 18px;
}

@media (max-width: 1133px) {
  
  .form {
    flex-direction: column;
  width: 247px;
    
  }
}